In [828]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# Import Pandas
import pandas as pd

In [829]:
#Path to Chromedriver
!which chromedriver

chromedriver not found

In [830]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/itr/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [831]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

#Code Breakdown

With the following line, browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1), we are accomplishing two things.

One is that we're searching for elements with a specific combination of tag (ul and li) and attribute (item_list and slide, respectively). For example, ul.item_list would be found in HTML as < ul class=”item_list” > .

Secondly, we're also telling our browser to wait one second before searching for components. The optional delay is useful because sometimes dynamic pages take a little while to load, especially if they are image-heavy.

In [832]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [833]:
slide_elem.find("div", class_='content_title')

In [834]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"6 Things to Know About NASA's Mars Helicopter on Its Way to Mars"

In [835]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'Ingenuity, a technology experiment, is preparing to attempt the first powered, controlled flight on the Red Planet.'

### Featured Images 

_Code needs to be refactored to account for updates in the site._

In [836]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [837]:
# Find and click the full image button
# Page has been updated so this method no longer works.


#full_image_elem = browser.find_by_id('full_image')
#full_image_elem.click()

In [838]:
# Find the more info button and click that
# Page has been updated so this method no longer works.

#browser.is_element_present_by_text('more info', wait_time=1)
#more_info_elem = browser.links.find_by_partial_text('more info')
#more_info_elem.click()

In [839]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [840]:
# Find the relative image url
# Page has been updated so this method no longer works.

#img_url_rel = img_soup.select_one('figure.lede a img').get("src")
#img_url_rel

In [841]:
# Use the base URL to create an absolute URL
# Page has been updated so this method no longer works.

#img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
#img_url

In [842]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [843]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [844]:
# Convert the df back into html ready code using .to_html()
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [845]:
browser.quit()

In [846]:
#---------------- Adding Challenge Starter Code - To be modified --------------------

In [847]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

# Adding Imports
# - ChromeDriver
from webdriver_manager.chrome import ChromeDriverManager
# - Time
import time
# - URLSplit
from urllib.parse import urlsplit

In [848]:
# Path to chromedriver
!which chromedriver

chromedriver not found

In [849]:
# Set the executable path and initialize the chrome browser in splinter
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path)


# Initial Code Failed to execute on initializing the chrome browser.
# Refractored: Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [/Users/itr/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [850]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [851]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = bs(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide')

In [852]:
slide_elem.find("div", class_='content_title')

In [853]:
# Use the parent element to find the first a tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"6 Things to Know About NASA's Mars Helicopter on Its Way to Mars"

In [854]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'Ingenuity, a technology experiment, is preparing to attempt the first powered, controlled flight on the Red Planet.'

### JPL Space Images Featured Image

In [855]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [856]:
# Find and click the full image button
# full_image_elem = browser.find_by_id('full_image')
# full_image_elem.click()

In [857]:
# Find the more info button and click that
# browser.is_element_present_by_text('more info', wait_time=1)
# more_info_elem = browser.links.find_by_partial_text('more info')
# more_info_elem.click()

In [858]:
# Parse the resulting html with soup
html = browser.html
img_soup = bs(html, 'html.parser')

In [859]:
# find the relative image url
# img_url_rel = img_soup.select_one('figure.lede a img').get("src")
# img_url_rel

In [860]:
# Use the base url to create an absolute url
# img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
# img_url

### Mars Facts

In [861]:
df = pd.read_html('http://space-facts.com/mars/')[0]

df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [862]:
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [863]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Weather

In [864]:
# Visit the weather website
url = 'https://mars.nasa.gov/insight/weather/'
browser.visit(url)

In [865]:
# Parse the data
html = browser.html
weather_soup = bs(html, 'html.parser')

In [866]:
# Scrape the Daily Weather Report table
weather_table = weather_soup.find('table', class_='mb_table')
print(weather_table.prettify())

<table class="mb_table" id="weather_observation" style="width:100%;">
 <thead>
  <tr>
   <th colspan="2" scope="col">
    Time
   </th>
   <th colspan="3" id="temperature_lbl" scope="col">
    Air Temperature (
    <span class="lbl_fahrenheit">
     °F
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_celsius fadeBlack">
     °C
    </span>
    )
   </th>
   <th colspan="4" id="windspeed_lbl" scope="col">
    Wind Speed (
    <span class="lbl_mph">
     mph
    </span>
    <span class="slash">
     |
    </span>
    <span class="lbl_mps fadeBlack">
     m/s
    </span>
    )
   </th>
   <th colspan="3" id="pressure_lbl" scope="col">
    Pressure (Pa)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr id="weather_top">
   <th class="sol" scope="row">
    Date
   </th>
   <th class="sol" scope="row">
    Sol
   </th>
   <td class="temperature max">
    Max.
   </td>
   <td class="temperature avg">
    Avg.
   </td>
   <td class="temperature min">
    Min.
   </td>
   <td class="windspeed max">
    Max.
   </td>
   <td class="windspeed avg">
    Avg.
   </td>
   <td class="windspeed min">
    Min.
   </td>
   <td class="windspeed direction">
    Direction
    <br/>
    <span style="font-size:x-small">
     (most common)
    </span>
   </td>
   <td class="pressure max">
    Max.
   </td>
   <td class="pressure avg">
    Avg.
   </td>
   <td class="pressure min">
    Min.
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 23, 2021
   </th>
   <th class="sol" scope="row">
    768
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    739.3
   </td>
   <td class="pressure avg">
    718.2
   </td>
   <td class="pressure min">
    695.9
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 22, 2021
   </th>
   <th class="sol" scope="row">
    767
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    736.6
   </td>
   <td class="pressure avg">
    715.9
   </td>
   <td class="pressure min">
    692.1
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 21, 2021
   </th>
   <th class="sol" scope="row">
    766
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    734.5
   </td>
   <td class="pressure avg">
    713.6
   </td>
   <td class="pressure min">
    691.3
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 20, 2021
   </th>
   <th class="sol" scope="row">
    765
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    736
   </td>
   <td class="pressure avg">
    717.4
   </td>
   <td class="pressure min">
    692.2
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 19, 2021
   </th>
   <th class="sol" scope="row">
    764
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    736.3
   </td>
   <td class="pressure avg">
    714.1
   </td>
   <td class="pressure min">
    692.9
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 18, 2021
   </th>
   <th class="sol" scope="row">
    763
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    734.8
   </td>
   <td class="pressure avg">
    715
   </td>
   <td class="pressure min">
    690.3
   </td>
  </tr>
  <tr>
   <th class="sol" scope="row">
    Jan. 17, 2021
   </th>
   <th class="sol" scope="row">
    762
   </th>
   <td class="temperature max">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature avg">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="temperature min">
    <span class="fahrenheit">
     <nobr>
      -° F
     </nobr>
    </span>
    <span class="celsius" style="display: none;">
     <nobr>
      -° C
     </nobr>
    </span>
   </td>
   <td class="windspeed max">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed avg">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed min">
    <span class="mph">
     -
    </span>
    <span class="mps" style="display:none">
     -
    </span>
   </td>
   <td class="windspeed point">
    n/a
   </td>
   <td class="pressure max">
    735
   </td>
   <td class="pressure avg">
    713.5
   </td>
   <td class="pressure min">
    690
   </td>
  </tr>
 </tbody>
</table>

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

In [867]:
# Pre-work

# Creating a base line for back and forth clicks
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit"
print(url_image)
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_image))
print(base_url)
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
print(url_hemisphere)
hemisphere_base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_hemisphere))
print(hemisphere_base_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit
https://www.jpl.nasa.gov/
https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
https://astrogeology.usgs.gov/

### Hemispheres

In [868]:
# 1. Use browser to visit the URL 
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [869]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
 # Below

In [870]:
# Cerberus

results = browser.find_by_xpath("//*[@id='product-section']/div[2]/div[1]/a/img").click()
time.sleep(2)
cerberus_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(2)
cerberus_image = browser.html
soup = bs(cerberus_image, "html.parser")

#GRAB IMAGE
cerberus_url = soup.find("img", class_="wide-image")["src"]
#IMAGE VAR
cerberus_img_url = hemisphere_base_url + cerberus_url
print(cerberus_img_url)
#TITLE VAR
cerberus_title = soup.find("h2",class_="title").text
print(cerberus_title)
#UPDATE
cerberus = {"image title":cerberus_title, "image url": cerberus_img_url}
hemisphere_image_urls.append(cerberus)

https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
Cerberus Hemisphere Enhanced

In [871]:
# Reset for next
back_button = browser.visit(url_hemisphere)

In [872]:
# Schiaparelli

results = browser.find_by_xpath("//*[@id='product-section']/div[2]/div[2]/a/img").click()
time.sleep(2)
schiaparelli_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(2)
schiaparelli_image = browser.html
soup = bs(schiaparelli_image, "html.parser")

#GRAB IMAGE
schiaparelli_url = soup.find("img", class_="wide-image")["src"]
#IMAGE VAR
schiaparelli_img_url = hemisphere_base_url + schiaparelli_url
print(schiaparelli_img_url)
#TITLE VAR
schiaparelli_title = soup.find("h2",class_="title").text
print(schiaparelli_title)
#UPDATE
schiaparelli = {"image title":schiaparelli_title, "image url": schiaparelli_img_url}
hemisphere_image_urls.append(schiaparelli)

https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced

In [873]:
# Reset for next
back_button = browser.visit(url_hemisphere)

In [874]:
# Syrtis Major

results = browser.find_by_xpath("//*[@id='product-section']/div[2]/div[3]/a/img").click()
time.sleep(2)
syrtis_major_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(2)
syrtis_major_image = browser.html
soup = bs(syrtis_major_image, "html.parser")

#GRAB IMAGE
syrtis_major_url = soup.find("img", class_="wide-image")["src"]
#IMAGE VAR
syrtis_major_img_url = hemisphere_base_url + syrtis_major_url
print(syrtis_major_img_url)
#TITLE VAR
syrtis_major_title = soup.find("h2",class_="title").text
print(schiaparelli_title)
#UPDATE
syrtis_major = {"image title":schiaparelli_title, "image url": schiaparelli_img_url}
hemisphere_image_urls.append(syrtis_major)

https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced

In [875]:
# Reset for next
back_button = browser.visit(url_hemisphere)

In [876]:
# Valles Marineris

results = browser.find_by_xpath("//*[@id='product-section']/div[2]/div[4]/a/img").click()
time.sleep(2)
valles_marineris_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(2)
valles_marineris_image = browser.html
soup = bs(valles_marineris_image, "html.parser")

#GRAB IMAGE
valles_marineris_url = soup.find("img", class_="wide-image")["src"]
#IMAGE VAR
valles_marineris_img_url = hemisphere_base_url + valles_marineris_url
print(valles_marineris_img_url)
#TITLE VAR
valles_marineris_title = soup.find("h2",class_="title").text
print(valles_marineris_title)
#UPDATE
valles_marineris = {"image title":valles_marineris_title, "image url": valles_marineris_img_url}
hemisphere_image_urls.append(valles_marineris)

https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced

In [877]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'image title': 'Cerberus Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'image title': 'Schiaparelli Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'image title': 'Schiaparelli Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'image title': 'Valles Marineris Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [878]:
# 5. Quit the browser
browser.quit()